################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VEthernet/bin
/VEthernet/obj
/tun2socks/bin
/tun2socks/obj
/tun2socks/.vs
/tun2socks/app.config
