################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VEthernet
/tun2socks/bin
/tun2socks/obj